.container{
    background-color: rgb(105, 184, 184);
    /* height: 600px;
    width: 800px; */
    border-radius: 6px;
  
}

.carta{
    
    background-image: url(https://mir-s3-cdn-cf.behance.net/projects/404/8d58b3146693641.Y3JvcCwxMjE2LDk1MSw0NjAsMTIw.png);
    background-size: contain;
    /* height: 400px;
    width: 600px; */
    flex: 0 1 calc(25% - 1em);

}

.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}


img{
    width: 240px;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    color: rgb(11, 70, 70);
    

    
}

h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    margin-left: 20px;
    color: rgb(25, 95, 95);
}